@media (max-width: 1100px){
    .van-doc-simulator {
        left: 750px;
        right: auto;
    }
}
@media (max-width: 1300px){
    .van-doc-simulator {
        width: 320px;
        min-width: 320px;
    }
}
.van-doc-simulator {
    margin: auto;
    z-index: 1;
    overflow: hidden;
    border-radius: 6px;
    background: #f2f2f4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 320px;
    min-width: 320px;
    top: 100px;
    -webkit-box-shadow: rgba(0,0,0,.2) 0 1px 6px, rgba(0,0,0,.2) 0 1px 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.2), 0 1px 4px rgba(0,0,0,.2);
}
.zent-design-component-config-preview {
    background-image: url(https://img.yzcdn.cn/public_files/2017/10/24/12e73dc….png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 64px;
    width: 320px;
}
.zent-design-component-config-preview__title {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    line-height: 40px;
    overflow: hidden;
    padding: 23px 40px 0 60px;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}
.van-doc-simulator__nav {
    height: 64px;
    background-image: url(https://img.yzcdn.cn/public_files/2017/10/24/12e73dca6848e7977396a6fa123b9140.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.van-doc-simulator__url {
    left: 40px;
    top: 23px;
    right: 40px;
    font-size: 14px;
    position: absolute;
    text-align: center;
    font-weight: 700;
    line-height: 28px;
    font-family: PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif;
}

